@model List<bgs.Models.Product>
@using bgs.Models;
@{
    ViewBag.Title = "Products";
}

<h2>@ViewBag.Title</h2>


@helper RenderProducts(List<Product> items)
{
    if (items.Count() > 0)
    {
        <h2>The Products</h2>
    foreach (Product p in items)
    {
        <div class="row">
            @Html.Partial("ProductSummary", p);
        </div>
    }
}
}



@RenderProducts(Model)