@using bgs.Models
@using bgs.HtmlHelpers;

@model bgs.ViewModels.ProductListViewModel


@{
    ViewBag.Title = "Products";
}


@helper RenderProducts(List<Product> items)
{
    if (items.Count() > 0)
    {
        foreach (Product p in items)
        {
            @Html.Partial("ProductSummary", p)
        }
    }
}

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
    </head>

    <body>
        <!-- Render products -->
        <div>
            @RenderProducts(Model.Products)
        </div>
        
        <!-- Paging -->
        <div>
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", "Catalogue", new { page = x, category = Model.CurrentCategory.CategoryCode }))
        </div>
    </body>
</html>