@model List<bgs.Models.Sleeve>
@using bgs.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@helper RenderSleeves(List<Sleeve> items)
{
    if (items.Count() > 0)
    {
        <h2>The CDs</h2>
        foreach (Sleeve s in items)
        {
            @Html.Partial("ProductSummarySleeve", s);
            <br />
        }
    }
}



@RenderSleeves(Model)